        <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse1">
                        <span class="sr-only">Toggle Nav</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="{{ url_for('base.index') }}">BaseHead</a>
                </div>
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse1">
                    <ul class="nav navbar-nav">
                        <li {% if request.endpoint == 'base.index' %}class="active"{% endif %}>
                            <a href="{{ url_for('base.index') }}">Home</a>
                            </li>
                        {% if bc %}
                        <li {% if request.endpoint == 'people' %}class="active"{% endif %}>
                        <a href="{{ url_for('basecamp.people') }}"><span class="glyphicon glyphicon-user">People</a>
                        </li>
                        <li {% if request.endpoint == 'tasks' %}class="active"{% endif %}>
                        <a href="{{ url_for('basecamp.tasks') }}"><span class="glyphicon glyphicon-paperclip"></span>Todos{% if 'tasks' not in request.path %}<span class="badge">{{ bc.todo_count }}</span>{% endif %}</a>
                        </li>
                        <li {% if request.endpoint == 'events' %}class="active"{% endif %}>
                        <a href="{{ url_for('basecamp.events') }}"><span class="glyphicon glyphicon-calendar"></span>Events{% if request.endpoint != 'events' %}<span class="badge">{{ bc.event_count }}</span>{% endif %}</a>
                        </li>
                        <li {% if request.endpoint == 'projects' %}class="active"{% endif %}>
                        <a href="{{ url_for('basecamp.projects') }}"><span class="glyphicon glyphicon-briefcase"></span>Projects{% if request.endpoint != 'projects' %}<span class="badge">{{ bc.project_count }}</span>{% endif %}</a>
                        </li>
                        <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown"><span class="glyphicon glyphicon-tasks"></span>Todo Lists<b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                <li>
                                <a href="{{ url_for('basecamp.project_list') }}"><span class="glyphicon glyphicon-send"></span>&nbsp;by Project</a>
                                </li>
                                <li class="divider"></li>
                                <li>
                                <a href="{{ url_for('basecamp.tasklists') }}"><span class="glyphicon glyphicon-folder-close"></span>&nbsp;By Bucket</a>
                                </li>
                                <li class="divider"></li>
                                <li>
                                <a href="{{ url_for('basecamp.todolist') }}"><span class="glyphicon glyphicon-fullscreen"></span>&nbsp;All Todo Lists</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                        {% endif %}
                    </ul>
                    <form class="nav navbar-nav navbar-form" role="search">
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="search">
                        </div>
                        <button type="submit" class="btn btn-default">Submit</button>
                    </form>
                    {% if bcname %}
                    <p class="nav navbar-text pull-right">Welcome {{ bcname }}</p>
                    {% endif %}
                    <ul class="nav navbar-nav navbar-right" role="navigation">
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Login Options<b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                <li>
                                <a href="{{ url_for('auth.init') }}">Signin to Basecamp</a>
                                </li>
                                <li class="divider"></li>
                                <li><a href="{{ url_for('base.login') }}">Login</a></li>
                                {#<li><a href="{{ url_for('base.">Action</a></li>#}
                                <li class="divider"></li>
                                <li><a href="#">Action</a></li>
                                <li><a href="#">Action</a></li>
                            </ul>
                        </li>
                    </ul>
                </div><!-- /.navbar-collapse -->
            </div><!-- /.container-fluid -->
        </nav>
    


